html,
body {
    height: 100%;
    margin: 0;
    background-color: white;
}

.card {
    padding: 0;
    margin: 0;
    background-color: white;
}

.header {
    padding: 20px;
    margin: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card-header {
    margin: 10px;
}

.barra_pesquisa {
    padding: 10px 1em;
    border-radius: 10px;
    width: 40%;
    border: none;
    background-color: rgb(235, 235, 235);
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: rgb(192, 192, 192);
    background-color: white;
}

.btn-icon:hover {
    color: black;
    border: none;
}

.text-header span {
    display: block;
}

.text-header .principal {
    font-weight: bold;
}

.text-header .secundario {
    color: rgb(192, 192, 192);
}

.painel_lateral_head {
    position: sticky;
    width: 100%;
    height: 100%;
    margin-right: 50px;
}

.painel_lateral img {
    width: 100%;
    border-radius: 20px;
}

.painel_lateral>* {
    display: block;
    padding: 10px;
}

.painel_lateral .titulo {
    font-weight: bold;
}

.painel_lateral .descricao {
    color: rgb(192, 192, 192);
}

.quantidade {
    display: flex;
    justify-content: space-between;
}

.quantidade input {
    margin: 0;
    padding: 0;
    width: 35px;
}

.total {
    display: flex;
    justify-content: space-between;
}

.total button {
    width: 50%;
    font-size: 100%;
}